<div>
    <div class="mainPage">
<div class="mainHeader"><h1>CampHub</h1><input class="chInput" placeholder="search" ng-model="query" type="search"/></div>
<ul class="scoutList">
    <li class="scoutItem" ng-click="itemClick(s)" ng-repeat="s in scouts | filter: query">
        <img class="scoutItemChild" src="/scouts/{{s.ScoutID}}/image" /><div class="scoutItemChild"><h3>{{s.FirstName}} {{s.LastName}}</h3><span>{{s.Position}}, {{s.Team}}</span><div>
    </li>
</ul>
</div>
<div class="modal"></div>
<div class="scoutWindow scroll-y" ng-include="scoutWindow">
    </div>
</div>